* {
    margin: auto;
}

html, body {
    width: 100%;
    height: 100%;
    color:rgb(216, 212, 207) !important;
}

html {
    background: url("image/background.jpg");
    background-size: cover;
    background-position: center;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #181a1b80 !important;
}